{% extends "layout.html" %}
{% block head %}
  <script type="text/javascript"
      src="https://demo.easyrtc.com/socket.io/socket.io.js"></script>
  <script type="text/javascript"
      src="https://demo.easyrtc.com/easyrtc/easyrtc.js"></script>
  <script type="text/javascript"
      src={{ url_for('static', filename='flock.js') }}>
  </script>
  <script type="text/javascript">
     window.APP_PATH = "{{ code_file }}" >
  </script>
  {% if secret %}
    <script type="text/javascript" src="{{ secrets_file }}" ></script>
  {% endif %}
{% endblock %}
{% block title %}Volunteer{% endblock %}

{% block content %}
  <div id="status"></div>
{% endblock %}
