{% extends "layout.html" %}
{% block head %}
  <script type="text/javascript"
      src="https://demo.easyrtc.com/socket.io/socket.io.js"></script>
  <script type="text/javascript"
      src="https://demo.easyrtc.com/easyrtc/easyrtc.js"></script>
  <script type="text/javascript" src="/static/flock.js"></script>
  <script type="text/javascript" src={{ code_file }} ></script>
  {% if secret %}
    <script type="text/javascript" src={{ secrets_file }} ></script>
  {% endif %}
{% endblock %}
{% block title %}Volunteer{% endblock %}

{% block content %}
  Test Application
  <script type="text/javascript">
    flock.join();
  </script>
  <input type="button" onclick="flock.initWorker()" value="Start"/>
{% endblock %}
