<html>
    <head>
        <script type="text/javascript"
         src="https://demo.easyrtc.com/socket.io/socket.io.js"></script>
        <script type="text/javascript"
         src="https://demo.easyrtc.com/easyrtc/easyrtc.js"></script>
        <script type="text/javascript" src="/static/flock.js"></script>
    </head>
    <body>
        Test Application
        <script type="text/javascript">
            flock.join();
        </script>
        <input type="button" onclick="flock.initWorker()" value="Start"/>
    </body>
</html>
