{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
  <h1>About</h1>
  <p>Learn the basics about Flock. What the whole point is, how to get started, and more!</p>
  <div class="vertical-line"></div>
  <div class="box">
    <h2></h2>
  </div>
  <div id="welcome">
    <p>
      Welcome to Flock. From this homepage you can volunteer your computing resources
      or sign up to host a project.
    </p>
    <p>
      Volunteering your computing resources is easy with flock! Just click the "Volunteer"
      button below to get started!
    </p>
    <p>
      Have a project you want to host on flock? Click "Sign Up" or "Login" to get started!
    </p>
  </div>
  
  <div id="volunteer-button">
    <a href="/work">Volunteer your computing resources!</a>
  </div>
  <p/>
  <div id="host-button">
    {% if g.user %}
      <a href="/host/submit">Submit a new project</a>
    {% else %}
      <a href="/login">Sign up or log in!</a>
    {% endif %}
  </div>
  <p/>
{% endblock %}
