<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} - Flock</title>
  </head>
  <nav>
    <ul class="navbar">
      <li><a href="/">Flock</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/">Project Listing</a></li>
      {% if g.user %}
        <li class="log"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        <li class="log"><p>Logged in as {{ g.user['email'] }}</p></li>
      {% else %}
        <li class="log"><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="log"><a href="{{ url_for('auth.login') }}">Log In</a></li>
      {% endif %}
    </ul>
  </nav>
  <body>
    <!-- Flash messages that we have -->
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <!-- Content will go here -->
    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
      {% block footer %}
      &copy; Copyright 2019. <a href="https://github.com/zacharysang/flock">GitHub</a>
      {% endblock %}
    </div>
  </body>
</html>
