<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - Flock</title>
    {% endblock %}
  </head>
  <nav>
    <h1>Flock</h1>
    <ul>
      {% if g.user %}
        <li><span>{{ g.user['email'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>
  <body>
    <!-- Flash messages that we have -->
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <!-- Content will go here -->
    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
      {% block footer %}
      &copy; Copyright 2019. <a href="https://github.com/zacharysang/flock">Github</a>
      {% endblock %}
    </div>
  </body>
</html>
