# This is an example configuration file. For deployment, this should be created
# or copied to the instance folder of the deployment
# In development, that should be `instance/config.py`
# (same level as flock_server)
# in production, that is in the virtual environment
# `venv/var/flock_server-instance/config.py
SECRET_KEY = '' # Secret Key value
DO_DEPLOY = True # True or false value instructing the tool to run deploys
# Nothing under this point is needed if DO_DEPLOY = False
LOCALTUNNEL_URL = '' # local tunnel url with no leading http:// or https://, i.e. `subdomain.example.com` or `example.com`
ECS_CLI_PATH = '/usr/local/bin/ecs-cli' # full path to ecs-cli
FLOCK_URL = '' # URL flock is at - should have 'https' in it
FLOCK_VPC_ID = '' # Flock VPC ID
FLOCK_SECURITY_GROUP_ID = '' # Flock Security Group ID
FLOCK_SUBNET_1_ID = '' # flock subnet 1 id
FLOCK_SUBNET_2_ID = '' # flock subnet 2 id
FLOCK_ECS_PROFILE = '' # flock ecs profile name 
FLOCK_REGION = '' # flock region - probably us-east-1
FLOCK_LOG_GROUP = '' # group for flock aws logging
FLOCK_PORT = '' # standard port for flock to connect on
FLOCK_CLUSTER = '' # name of flock cluster
FLOCK_CLUSTER_CONFIG = '' # name of flock cluster config
FLOCK_CONTAINER_NAME = '' # name of flock container
