<!doctype html>
{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
  <h1> Register </h1>
  <p>Already have an account? <a href="/login">Click here to login.</a></p>
  <div class="vertical-line"></div>
  <div id="register">
    <!-- Form for new users to create an account -->
    <h2>New Users - Create Account</h2>
    <div class="box">
      <div class="form">
        <form id="register-form" action="register" method="post">
          <div class="form-line">
            <label for="email">Email</label>
            <input class="generic-entry" type="text" name="email" placeholder="Email"
                required>
          </div>
          <div class="form-line">
            <label for="password">Password</label>
            <input class="generic-entry" type="password" name="password"
                placeholder="Password" required>
          </div>
          <div class="form-line">
            <label for="confirm-password">Confirm Password</label>
            <input class="generic-entry" type="password" name="confirm-password"
                placeholder="Confirm Password" required>
          </div>
          <div class="form-line">
            <input class="submit" type="submit" name="register" value="Register">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
