<!doctype html>
{% extends "layout.html" %}
{% block title %}{{ project['name'] }}{% endblock %}
{% block content %}
  <h1>Project Details</h1>
  <div id="project-detail">
    <h2>Name: {{ project['name'] }}</h2>
    <h3>Source URL: <a href={{ project['source_url']}}>
        {{ project['source_url'] }}</a></h3>
    <h3>Description:</h3>
    <p> {{ project['description'] }}</p>
    <h4>Min Workers: {{ project['min_workers'] }}</h4>
    <h4>Approval Status: {{ project_approval_status }}</h4>
    {% if project_approved %}
      <h3>Health Status: {{ project['health_status'] }}</h3>
      {% if (project['health_message'] != None and project['health_message'] != '') %}
        <h3>Health Message: {{ project['health_message'] }}</h3>
      {% endif %}
      <h3>Node-0 Deployment URL: {{ project['deployment_url'] }}</h3>

    {% endif %}
    <h3>Warning: I haven't implemented confirm on this yet!</h3>
    <h4><a href="/host/{{ project['id'] }}/delete">Delete this project</a></h4>
  </div>
{% endblock %}

