{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
  {% if my_projects is not none %}
    <h1>My Projects</h1>
    {% for project in my_projects %}
      <div class="vertical-line"></div>
      <div id="basic-info">
        <a href={{ url_for('host.detail', project_id=project['id']) }}>
          <h2>{{ project['name'] }}</h2>
        </a>
        <div class="box">
          <div class="item">
            <div class="item-name">Description</div>
            <div class="item-desc">{{ project['description'] }}</div>
          </div>
          <div class="item">
            <div class="item-desc">
              <a href={{ url_for('work.get_work_page_for_project', project_id=project['id']) }}>
                Click here to volunteer for this project.
              </a>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  {% endif %}
  <h1>Projects</h1>
  {% for project in projects %}
    <div class="vertical-line"></div>
    <div id="basic-info">
      {% if g.user is not none and g.user['super_user'] == 1 %}
        <a href={{ url_for('host.detail', project_id=project['id']) }}>
          <h2>{{ project['name'] }}</h2>
        </a>
      {% else %}
        <h2>{{ project['name'] }}</h2>
      {% endif %}
      <div class="box">
        <div class="item">
          <div class="item-name">Description</div>
          <div class="item-desc">{{ project['description'] }}</div>
        </div>
        <div class="item">
          <div class="item-desc">
            <a href={{ url_for('work.get_work_page_for_project', project_id=project['id']) }}>
              Click here to volunteer for this project.
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
