<!doctype html>
{% extends "layout.html" %}
{% block title %}Moderator Queue{% endblock %}
{% block content %}
  <h1>Moderator Queue</h1>
  <div id="queue">
  {% for project in projects %}
    <div class="vertical-line"></div>
    <div id="basic-info">
      <a href={{ url_for('host.detail', project_id=project['id']) }}>
        <h2>{{ project['name'] }}</h2>
      </a>
      <div class="box">
        <div class="item">
          <div class="item-name">Description</div>
          <div class="item-desc">{{ project['description'] }}</div>
        </div>
        <div class="item">
          <div class="item-name">Source URL</div>
          <div class="Item-desc">
            <a href={{ project['source_url'] }}>{{ project['source_url'] }}</a>
          </div>
        </div>
        <div class="item">
          <div class="item-name">Approval Link</div>
          <div class="item-desc">
            <a href={{ url_for('host.approve', project_id=project['id']) }}>
              Click to Approve. (Slow Request)
            </a>
          </div>
        </div>
      </div>
    </div> 
  {% endfor %}  
  </div>
{% endblock %}

