<!doctype html>
{% extends "layout.html" %}
{% block title %}Moderator Queue{% endblock %}
{% block content %}
  <h1>Moderator Queue</h1>
  <div id="queue">
  {% for project in projects %}
    <div id="queue-item">
      <span>{{ project['name'] }}</span>
      <span><a href={{ project['source_url'] }}>Source Link</a></span>
      <span>{{ project['description'] }}</span> 
      <span><a href={{ url_for('host.approve', project_id=project['id']) }}>
          Approve</a></span
    </div> 
  {% endfor %}  
  </div>
{% endblock %}

